html, body, .site, .app {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}

body {
	background: radial-gradient(circle, rgb(225, 225, 225) 0%, rgb(148, 148, 148) 100%);
	/* background-image: url('assets/images/desktop.png'); */
	/* background-position: center; */
	/* background-size: cover; */
	/* background-repeat: no-repeat; */
	color: black;
	font-family: Calibri, sans-serif;
}

div, h1, p {
	margin: 0;
	padding: 0;
}

a, a:visited {
	color: #0000dd;
	text-decoration: none;
}

.site, .app {
	display: flex;
	flex-direction: column;
}

/* ----------Window---------- */
.window {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.taskbar {
	display: flex;
	flex-direction: row;
	margin-bottom: 0;

/* justify-content: space-between; */
	padding: 6px 0;
	background-color: #2e2e2e;

	user-select: none;
}

.taskbar-item {
	box-sizing: border-box;
	margin: 0 4px;
	padding: 4px;
	border-radius: 6px;
	background-color: #464646;
	transition: 100ms ease-out;
}

.taskbar-item:hover {
	background-color: #7a7a7a;
}

.taskbar-item.taskbar-home {
	/* margin-right: auto; */
	order: -1;
}

.taskbar-item.taskbar-settings {
	margin-left: auto;
}

.taskbar-item.taskbar-home span, .taskbar-item.taskbar-settings span {
	display: none;
}

.taskbar-item > a {
	display: flex;
	flex-direction: row;
}

.taskbar-item > a > * {
	margin: auto 5px;
}

.taskbar-item img {
	margin: auto;
	width: 3vh;
	text-align: center;
	font-size: 30px;
	filter: invert(1);
}

.taskbar-item span {
	color: white;
	text-decoration: none;
}

/* ----------List---------- */
.list {
	display: flex;
	flex-direction: column;
	margin: auto auto;
	padding: 10px 20px;
	border-radius: 10px;
	background-color: #ffffff;
	text-align: center;
}

.list-item {
	margin: 0 auto;
	padding: 4px;
}

/* ----------Login---------- */
.login {
	display: flex;
	flex-direction: column;
	margin: auto auto;
	width: 30%;
	height: 30%;
	border-radius: 10px;
	background-color: #ffffffcc;
}

.login form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto auto;
	width: 100%;
}

form input {
	margin: 10px auto;
	padding: 4px;
	border: 1px solid gray;
	border-radius: 4px;
}

input[type='text'], input[type='password'] {
	width: 60%;
	outline: none;
	background-color: white;
}

input[type='text']:focus, input[type='password']:focus {
	background-color: #befda1;
}

input[type='submit'] {
	outline: none;
	border-radius: 3px;
	background-color: #38761d;
	color: white;
	font-size: 120%;
	cursor: pointer;
}

/* ----------Notepad---------- */
.buttons {
	display: flex;
	flex-direction: row;
}

.buttons button {
	padding: 5px 5px;
	outline: none;
	border: 1px solid;
	background-color: white;
	cursor: pointer;
}
.buttons button:hover {
	background-color: whitesmoke;
}
.buttons button:hover {
	background-color: whitesmoke;
}
.main textarea {
	width: 900px;
	height: 500px;
    resize: none;
    outline: none;
}
#lastsaved {
	position: absolute;
	right: 55%;
	bottom: 86%;
}
