html, body, .site, .app {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}

body {
	background-color: white;
	background-image: url('assets/images/desktop.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: black;
	font-family: Calibri, sans-serif;
}

div, h1, p {
	margin: 0;
	padding: 0;
}

a, a:visited {
	color: #0000dd;
	text-decoration: none;
}

.site, .app {
	display: flex;
	flex-direction: column;
}

/* ----------Window---------- */
.window {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.taskbar {
	background-color: #2e2e2e;
	display: flex;
	flex-direction: row;
	padding: 6px 10px;
	margin-bottom: 0;
}

.taskbar-item {
	padding: 4px;
	transition: 100ms ease-out;
	box-sizing: border-box;
	border-radius: 6px;
	margin: 0 4px;
	background-color: #464646;
}

.taskbar-item:hover {
	background-color: #7a7a7a;
}

.taskbar-item > a {
	display: flex;
	flex-direction: row;
}

.taskbar-item > a > * {
	margin: auto 5px;
}

.taskbar-item img {
	margin: auto;
	width: 3vh;
	text-align: center;
	font-size: 30px;
	filter: invert(1);
}

.taskbar-item span {
	color: white;
	text-decoration: none;
}

/* ----------List---------- */
.list {
	display: flex;
	flex-direction: column;
	margin: auto auto;
	padding: 10px 20px;
	border-radius: 10px;
	background-color: #ffffff;
	text-align: center;
}

.list-item {
	margin: 0 auto;
	padding: 4px;
}

/* ----------Login---------- */
.login {
	display: flex;
	flex-direction: column;
	margin: auto auto;
	width: 30%;
	height: 30%;
	border-radius: 10px;
	background-color: #ffffffcc;
}

.login form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto auto;
	width: 100%;
}

form input {
	margin: 10px auto;
	padding: 4px;
	border: 1px solid gray;
	border-radius: 4px;
}

input[type='text'], input[type='password'] {
	width: 60%;
	outline: none;
	background-color: white;
}

input[type='text']:focus, input[type='password']:focus {
	background-color: #befda1;
}

input[type='submit'] {
	outline: none;
	border-radius: 3px;
	background-color: #38761d;
	color: white;
	font-size: 120%;
	cursor: pointer;
}
