<!DOCTYPE html>
<html>
	<head>
		<link href="style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div class="window">
			<div class="title-bar">
				<%- title %>
				<span class="close-button">
					&times;
				</span>
			</div>
			<%- content %>
		</div>
		<script src="/socket.io/socket.io.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="script.js"></script>
	</body>
</html>
