<% for (let i in apps) { %>
	<% if (apps[i].name === 'home') { %>
		<div class="taskbar-item taskbar-home">
	<% } else if (apps[i].name === 'settings') { %>
		<div class="taskbar-item taskbar-settings">
	<% } else { %>
		<div class="taskbar-item">
	<% } %>
		<a href="/app/<%= apps[i].name %>/">
			<!-- <img src="assets/icons/unknown.png"> -->
			<img src="/icon/<%= apps[i].name %>">
			<span>
				<%= apps[i].name.charAt(0).toUpperCase() + apps[i].name.slice(1) %>
			</span>
		</a>
	</div>
<% } %>